<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Ola</title>
    <link rel="stylesheet" href="css/basic.css">
  </head>
  <body>
    <div id="tudo">
      <ul>
        <lo><h2>Links para os Exercicios</h2></lo>
          <% for(var i in enderecos) {
              var link = enderecos[i];
          %>
            <li><a href="<%=link.link%>"><%=link.questao%></a></li>
          <%}%>
      </ul>
      <div style="position:absolute;top:50px; right: 50px;">
        <div class="img">
          <img  src="konichiwa.png" alt="Foto do produto">
        </div>
      </div>
      <h1> Olá </h2>
    </div>

  </body>
</html>
